<div class="">
  <% if alert = flash[:alert] %>
    <p class="" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="" id="notice"><%= notice %></p>
  <% end %>


  <%= form_with url: session_url, class: "form" do |form| %>
    <h1 class="">Sign in</h1>
    <div class="">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="">
      <div class="">
        <%= form.submit "Sign in", class: "" %>
      </div>

      <div class="flex gap-5 pl-5">
        <%= link_to "Forgot password?", new_password_path, class: "" %>
        <%= link_to "Sign Up", new_user_path, class: "" %>
      </div>
    </div>
  <% end %>
</div>
