<div class="border rounded-md p-4">
  <h1 class="font-bold text-lg">Request id no# <%= request.id %></h1>
  <ul>
    <li class="text-sm"><span class="font-medium">Make: </span><%= request.make %></li>
    <li class="text-sm"><span class="font-medium">Model: </span><%= request.model %></li>
    <li class="text-sm"><span class="font-medium">Year: </span><%= request.year %></li>
    <li class="text-sm"><span class="font-medium">Mileage: </span><%= request.mileage %></li>
    <li class="text-sm"><span class="font-medium">State: </span><%= request.state %></li>
  </ul>
</div>