<h1 class="font-bold text-4xl">Requests id no# <%= request.id %></h1>
<p>Make: <%= request.make %></p>
<p>Model: <%= request.model %></p>
<p>Year: <%= request.year %></p>
<p>Mileage: <%= request.mileage %></p>
<p>State: <%= request.state %></p>